.navigation {
   grid-area: navigation;
   background-color: blanchedalmond;
   padding: 10px 20px;
}
.navigationLink {
   margin-bottom: 15px;
}

a {
   text-decoration: none;
   color: black;
   font-size: 25px;
   font-weight: 700;
   margin: 10px;
}
.active {
   color: green;
}
.freinds {
   text-align: center;
   margin-top: 150px;
}
.freinds h3 {
   font-weight: 700;
}
